@font-face {
  font-family: "iconfont"; /* Project id 2590418 */
  src: url('iconfont.woff2?t=1626101945343') format('woff2'),
       url('iconfont.woff?t=1626101945343') format('woff'),
       url('iconfont.ttf?t=1626101945343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e64c";
}

.icon-shanchu1:before {
  content: "\e63c";
}

.icon-yonghuming1:before {
  content: "\e64a";
}

.icon-17:before {
  content: "\e61d";
}

.icon-yingwen:before {
  content: "\e631";
}

.icon-zhongwen:before {
  content: "\e630";
}

