@font-face {
  font-family: "iconfont"; /* Project id 2590418 */
  src: url('iconfont.woff2?t=1625910510766') format('woff2'),
       url('iconfont.woff?t=1625910510766') format('woff'),
       url('iconfont.ttf?t=1625910510766') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-year:before {
  content: "\e63b";
}

.icon-nian:before {
  content: "\e691";
}

.icon-blog:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e64c";
}

.icon-shanchu1:before {
  content: "\e63c";
}

.icon-yonghuming1:before {
  content: "\e64a";
}

.icon-17:before {
  content: "\e61d";
}

.icon-yingwen:before {
  content: "\e631";
}

.icon-theme-palette-fill:before {
  content: "\e823";
}

.icon-zhongwen:before {
  content: "\e630";
}

.icon-Shapecopy:before {
  content: "\e603";
}

.icon-shezhi:before {
  content: "\e707";
}

