@color: rgb(135, 137, 138);
@bgColor: rgb(223, 236, 242);

//滚动条
::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(53, 3, 3);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: gray;
}

::-webkit-scrollbar-button {
    display: none;
}

//消息提示
.info {
    background-color: fade(@bgColor, 25%);
    color: @bgColor;
    border-color: fade(@color, 50%);
}

//弹出框


.msgBoxBtn {
    background-color: rgb(199, 209, 222);
    color: white;
}